*
{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}

table,tr,td
{
	vertical-align:top;
	border-collapse:collapse;
	border-spacing:0
}

ol,ul
{
	list-style:none
}

blockquote,q
{
	quotes:none
}

blockquote:before,blockquote:after,q:before,q:after
{
	content:''
}

:focus
{
	outline:0
}

ins
{
	text-decoration:none
}

del
{
	text-decoration:line-through
}

form
{
	margin:0;
	padding:0;
	border:0;
	outline:0
}

body
{
	line-height:1;
	background:url(background.png) repeat-x #756540;
	font-size:62.5%;
	font-family:"DejaVu Sans", "Microsoft Sans Serif", verdana, sans-serif;
	text-align:center
}

#visual-portal-wrapper
{
	margin:0 auto;
	width:960px
}

a
{
	text-decoration:none;
	color:#889800
}

a:hover
{
	text-decoration:underline
}

#menu
{
	background:#a6ba00;
	border-top:4px solid #889800;
	height:50px;
	float:left;
	width:960px;
	font-weight:700;
	text-transform:uppercase;
	font-size:1.6em;
}

#menu ul
{
	background:#a6ba00;
	margin-left:10px;
	padding:0 10px;
	position:relative;
	float:left;
	line-height:50px
}

#menu ul li
{
	float:left;
	display:inline
}

#menu ul li a
{
	color:#FFF;
	outline:none;
	text-align:center;
	display:block;
	overflow:hidden;
	float:left;
	z-index:10;
	padding:0 10px;
	position:relative;
	text-shadow:-1px 1px 1px #444
}

#menu ul li a:hover
{
	text-decoration:none
}

#menu ul li.back
{
	background:url(lava.gif) no-repeat right -28px;
	width:9px;
	height:28px;
	position:absolute;
	z-index:8;
	top:11px
}

#menu ul li.back .left
{
	background:url(lava.gif) no-repeat top left;
	height:28px;
	margin-right:9px
}

#menu ul li.selected
{
	background:url(menu_selected.gif) no-repeat center bottom;
	padding-bottom:13px;
	margin-bottom:-13px
}

.LSBox
{
	float:right;
	width:310px
}

#portal-searchbox
{

	float:left;
	text-align:left;
	padding:5px;
	background:#e2dac7;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
	-khtml-border-top-left-radius:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	-khtml-border-top-right-radius:5px;
	width:950px
}

#searchGadget
{
width:304px;
	margin:3px 0;
	margin-top:10px;
	color:#ab9b75;
	font-weight:700;
	font-size:1.8em;
	font-family:"DejaVu Sans", "Microsoft Sans Serif", verdana, sans-serif;
	background:#d5c191;
	padding:3px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	border:none !important
}

input.searchButton,.searchSection
{
	display:none
}

#img_header
{
	float:left;
}

h1
{
	font-family:"DejaVu Sans", "Microsoft Sans Serif", verdana, sans-serif;
	font-size:2em;
	font-weight:700;
	
}

h1 a
{
	color:#4f401e;
	font-size:3em;
	font-weight:700;
	font-family:sans-serif
}

h1 a:hover
{
	text-decoration:none;
	color:#000
}

.documentDescription,.documentByLine, #link-presentation
{
	width:510px;
	float:left;
	margin:0px 15px;
	margin-left:0px;
}

#clock
{
	width:300px;
	text-align:left;
	color:#000
}

#parent-fieldname-title
{
	width:500px;
	float:left;
	margin:0px 15px;
	margin-left:0px;
	text-align:left;
	padding:5px 0px;
	color:#000;
	display:block;
	font-weight:900;
	font-size:1em;
	letter-spacing:-.5px;
	line-height:1em
}

#parent-fieldname-text
{
margin:30px 0px;
float:left;
text-align:justify;
	font-size:1.6em;
	line-height:1.6em

}

#parent-fieldname-text ul li
{
	list-style:url(li.gif) inside;
	padding:0 10px
}

#content a
{
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#f0d9aa;
	border:none;
	border-radius:5px;
	color:#444;
	padding:1px 3px;
	text-decoration:none;
	vertical-align:middle
}

.collage-item
{
margin:30px 0px;
float:left;
text-align:justify;
	font-size:1.6em;
	line-height:1.6em
}

#collage .two-columns-largeleft .block_1,#collage .two-columns-largeleft .block_2
{
width:50% !important
}

.contenttype-news-item
{
margin-top: 2em;

}

#content a:hover
{
	background:#d3b084;
	text-decoration:none
}

.contenttype-folder
{
float:left;
font-size:1.2em;
line-height:1.2em

}

.documentActions
{
float:right;

}

#document-action-sendto, #document-action-print
{
	background-color:#fff;
	padding:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	float:left;
	margin:5px;
}

#document-action-sendto a, #document-action-print a
{
	color:#222;
	font-size:1.2em
}

#document-action-sendto a:hover, #document-action-print a:hover
{
	color:#444;
	text-decoration:none
}

/* */
#slider
{
	width:960px;
	height:300px;
	color:#FFF;
	position:relative;
	float:left;
	overflow:hidden
}

#slider .transparency
{
	opacity:0.05;
	filter:alpha(opacity=5);
	-moz-opacity:0.05;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=5);
	background-color:#fff;
	width:960px;
	height:300px;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	/*-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px*/
}

.slides
{
	position:relative
}

.list_header
{
	list-style:url(li.gif) inside;
	padding:0 10px
}

.slides_image1
{
	height:300px;
	width:960px;
	float:left;
	background:url(banner1.png) no-repeat center center;
}

.slides_image2
{
	height:300px;
	width:960px;
	float:left;
	background:url(banner2.png) no-repeat center center;
}

.slides_image3
{
	height:300px;
	width:960px;
	float:left;
	background:url(banner3.png) no-repeat center center;
}

.slides_image4
{
	height:300px;
	width:960px;
	float:left;
	background:url(banner4.png) no-repeat center center;
}

#controller
{
	height:0px;
	float:right;
	position:relative;
	top:-25px;
	left:-5px;
}

.jFlowControl,.jFlowPrev,.jFlowNext
{
	width:20px;
	float:left;
	margin:2px
}

h2
{
	font-weight:700;
	margin:1em 0;
	border-bottom: 1px solid #452f27;
	font-size: 1.3em;
	padding: 5px;
	color:#4d4d46;

}

h2 span
{
	background:url(highlight.gif);
	padding:0 7px 0 8px;
	float:left;
	color:#e7e7da
}

h2 small
{
	float:left;
	background:url(highlight.gif) no-repeat -498px 0;
	padding-left:8px;
	color:#89897c;
	display:block;
	height:17px
}

h2.links span
{
	color:#c3c3b1
}

h2.links a
{
	color:#e7e7da
}

/*h3
{
	background-color:#fffff1;
	padding:0 10px;
	height:60px
}

h3 small
{
	float:left;
	background:url(comment.gif) no-repeat center center;
	width:45px;
	height:45px;
	text-align:center;
	padding:7px 0 0;
	margin:8px 3px 0;
	color:#4d4d46;
	display:block;
	font-weight:900;
	font-size:2.2em;
	letter-spacing:-.5px;
	line-height:1.1em
}

h3 div
{
	float:left;
	display:block;
	padding:3px;
	margin-left:7px;
	font-size:.8em;
	font-weight:100;
	width:520px
}

h3 a:hover
{
	text-decoration:none;
	color:#89897c
}*/

.bfg
{
	background:#675733;
	cursor:pointer;
	font-size:0.9em;
	padding:2px;
	height:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
}

#portal-footer
{
	font-size:1.4em;
	color:#d6e26e;
	padding:0 20px;
	clear:both;
	line-height:20px;
	float:left;
	width:920px;
	border-top:4px solid #889800;
	background:#a6ba00
}

#portal-footer a
{
	font-weight:900;
	color:#889800
}

#powered
{
	color:#55554e;
	font-size:1.3em;
	padding:12px 20px;
	background:#111;
	line-height:18px;
	height:36px;
	float:left;
	width:920px
}

#powered a
{
	color:#89897c
}

.ffg
{
	background:#d6e26e;
	text-align:center;
	color:#FFF;
	padding:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
}

#descargas
{
	background:url(descargas.png) 10px 0px no-repeat
}

#enciclopedia
{
	background:url(enciclopedia.png) 10px 0px no-repeat
}

#proyectos
{
	background:url(proyectos.png) 10px 0px no-repeat
}

#acerca
{
	background:url(acerca.png) 10px 0px no-repeat
}

#registro
{
	background:url(registro.png) 10px 0px no-repeat
}

.chicklets
{
	width:175px;
	margin:5px;
	float:left
}

.chick_h1
{
	font-size:0.9em;
	font-weight:900;
	float:left;
	text-align:center;
	width:100%;
	line-height:.9em;
	height:30px
}

.chick_content
{
	font-size:0.75em;
	line-height:1em;
	float:left;
	text-align:justify;
	padding:10px 0px;
	height:100px
}

.chick_h1 a
{
	color:#222 !important;
	background: transparent  !important;
}

.chick_h1 a:hover
{
	color:#444;
	text-decoration:none
}

.efg
{
	background:#abe19f;
	padding:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	margin:10px 0px;
}

.cfg
{
	background:#f5eedf;
	padding:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	margin:10px 0px;

}

.afg
{
	background:#fff;
	padding:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
}

.premier a
{
	padding-left:100px !important;
	font-size:1.3em ;
	color:#25691c !important;
	font-weight:900;
	line-height:1.3em;
	text-shadow:1px 1px 2px #999;
	background-color: transparent !important;

}

.premier a:hover
{
	color:#38a02a !important;
	text-decoration:none;
	background-color: transparent !important;

}

.premier_big a
{
	padding-left:100px !important;
	font-size:0.8em;
	color:#25691c !important;
	font-weight:900;
	line-height:1.8em;
	text-shadow:1px 1px 2px #999;
	background-color: transparent !important;


}

.premier_big a:hover
{
	color:#38a02a  !important;
	text-decoration:none
}
.premier_big2
{
	padding-left:100px !important;

}

.premier_big2 a
{
	padding: 0px !important;
	font-size:0.7em;
	color:#756540 !important;
	font-weight:900;
	line-height:1.8em;
	text-shadow:1px 1px 2px #999;
	background-color: transparent !important;


}

.premier_big2 a:hover
{
	color:#ab9b75  !important;
	text-decoration:none
}

.premier2 a
{
	padding-left:100px !important;
	font-size:1.3em ;
	color:#756540 !important;
	font-weight:900;
	line-height:1.2em;
	text-shadow:1px 1px 2px #999;
	background-color: transparent !important;

}

.premier2 a:hover
{
	color:#ab9b75 !important;
	text-decoration:none;
	background-color: transparent !important;

}

.premier_sub
{
	padding-left:100px;
	text-shadow:1px 1px 0px #999;
	font-size:0.7em;
	line-height:1.2em;
	color:#555
}

div.text_index
{
	width:510px;
	float:left;
	margin:15px;
	margin-left:0px;
	padding-top:210px;
	font-size:1em;
	line-height:1.3em;
	text-indent:30px;
	text-align:justify;
	background:url(canaima_fondo2.png) no-repeat;

}

div.text_index p a
{
	color:#889800;
	text-decoration:none;
	font-weight:400;
	background-color:#eee
}

div.text_index p a:hover
{
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#889800;
	background-color:#eee
}
div.text_index p
{

}

div.text_index ul,div.text_index ol
{
	margin-bottom:1em;
	margin-left:2em;
	font-size:1.175em;
	line-height:29px;
	background:transparent url(img/lists_bg.png);
	color:#444
}

div.text_index ul li
{
	list-style:url(li.gif) inside;
	padding:0 10px
}

div.text_index ol li
{
	list-style:decimal inside;
	padding-left:10px
}

div.text_index blockquote
{
	color:#89897c;
	font-style:italic;
	background:url(blockquote.gif) 30px 0 no-repeat;
	padding-left:60px;
	margin-bottom:1em;
	min-height:25px
}

#portal-column-content
{
	float:left;
	margin:0;
	padding:0
}

#portal-columns
{
	float:left;
	width:930px;
	background:#f6f6e8;
	line-height:1.5em;
	border:0;
	padding:25px 0px;
	margin:0px;
	text-align:left;
	min-height:500px
}

#content2
{
	width:505px;
	padding:16px;
	text-align:justify;
	color:#55554e;
	font-size:1.2em;
	line-height:1.2em;
	float:left;
	display:inline
}

#sidebar3
{
	position:relative;
	top:-60px;
	left:0;
	float:left;
	font-size:1.2em;
	line-height:1.2em;
	padding:0px 15px;
	padding-right:0px;
	width:390px;
	display:inline
}

/*#clear-space-before-wrapper-table,#clear-space-before-footer
{
	height:20px;
	background:#f6f6e8
}*/
#content
{
font-size:1em;
padding:0px 15px;

}

#content_index
{
	text-align:justify;
	width:930px;
	padding:0px;
	color:#55554e;
	font-size:1.2em;
	line-height:1.2em;
	float:left;
	display_:inline
}

dl.collapsible,#parent-fieldname-text,.documentEditable
{
	margin:0;
	padding:0;
	border:0;
	outline:0
}

#portal-breadcrumbs
{
	float:left;
	margin:5px 0;
	margin-left:5px;
	text-align:left;
	padding:3px;
	background:#756540;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-khtml-border-radius:3px
}

#portal-personaltools li
{
	float:left;
	margin:0 5px
}

#portal-personaltools li a,#portal-siteactions li a,#portal-breadcrumbs a
{
	color:#111;
	font-weight:700
}

#portal-siteactions li
{
	float:left;
	margin:5px 0;
	margin-left:5px;
	text-align:left;
	padding:3px;
	background:#756540;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-khtml-border-radius:3px
}

#portal-siteactions
{
	float:right
}

#portal-personaltools
{
	float:left;
	margin:5px 0;
	text-align:left;
	padding:3px;
	background:#756540;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-khtml-border-radius:3px
}

#portal-personaltools li img
{
	display:none
}

.section-front-page .documentFirstHeading
{
	width_:505px
}

.managePortletsFallback
{
	width:960px;
	line-height:20px;
	background-color:#f6f6e8
}

#history
{
float:left;
margin:10px;
width:910px;

}

.portalMessage
{
	color:#000;
	font-size:1.2em;
	line-height:1em;
	float:none;
	padding:5px;
	background:#FA8072;
	text-align:center;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	vertical-align:middle;
	margin:10px;
}

#region-content_
{
width:960px

}

#livesearchLegend, span.discreet, div.LSDescr
{
display:none;
}

.LSResult
{
z-index:10000;
height:0px;
position:relative;
	left:0px;
	top:-20px;
}

.livesearchContainer
{
	text-align:left;
	font-size:12px;
	border:none !important;
	background:#d5c191;
	padding:5px 0;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	-khtml-border-bottom-left-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	-khtml-border-bottom-right-radius:5px
}

.livesearchContainer ul
{
	list-style:none;
	margin:0;
	padding:0
}

.livesearchContainer ul li
{
	margin:0;
	padding:0;
	line-height:15px
}

.livesearchContainer ul li a strong
{
	color:#333
}

.livesearchContainer ul li a span
{
	font-size:11px
}

.livesearchContainer ul li a:link,.livesearchContainer ul li a:active,.livesearchContainer ul li a:visited
{
	display:block;
	padding:3px 10px;
	color:#333;
	text-decoration:none
}

.livesearchContainer ul li a:hover,.livesearchContainer ul li a:hover strong
{
	background:#d1be8f;
	text-decoration:none
}

.livesearchContainer ul li.quick_search_type
{
	padding:3px 10px;
	font-weight:700
}
