/* Estilos Básicos */

body
{
	line-height:1;
	background-color:#6a5c3b;
	font-size:62.5%;
	font-family:"DejaVu Sans", "Microsoft Sans Serif", verdana, sans-serif;
	text-align:center;
}

fieldset
{
	float:left;
	width:920px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	padding:5px!important;
	border:none!important;
}

legend
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	font-size:1.6em
}

table,td,tr,th,tbody
{
	border:0px !important;
}

textarea
{
	width:99%!important;
}

textarea#description,input#title
{
	width:928px!important;
}

table
{
	width:100%;
	border-spacing:3px;
}

tr
{
	margin:3px 0;
}

thead
{
	font-size:1.2em;
}

a
{
	text-decoration:none;
}

input,textarea
{
	font-family:"DejaVu Sans", "Microsoft Sans Serif", verdana, sans-serif!important;
}

select
{
	background:#fff url('input_background.gif') 0 0 repeat-x;
	font-size:1.2em;
	border:1px #444 solid;
}

h1
{
	font-family:"DejaVu Sans", "Microsoft Sans Serif", verdana, sans-serif;
	font-size:2em;
	font-weight:700;
}

h1 a
{
	color:#4f401e;
	font-size:3em;
	font-weight:700;
	font-family:sans-serif;
}

h1 a:hover
{
	text-decoration:none;
	color:#000;
}

h2
{
	font-weight:700;
	margin:1em 0;
	border-bottom:1px solid #452f27;
	font-size:1.3em;
	padding:5px 0;
	color:#4d4d46;
	float:left;
	width:100%;
}

/* Header */

#portal-searchbox
{
	float:left;
	text-align:left;
	padding:5px;
	background:#e2dac7;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
	-khtml-border-top-left-radius:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	-khtml-border-top-right-radius:5px;
	width:950px;
	height:50px;
}

#clock
{
	width:300px;
	text-align:left;
	color:#000;
}

.LSBox
{
	float:right;
	width:310px;
}

#searchGadget
{
	width:304px;
	margin:5px 0;
	margin-top:10px;
	color:#e2dac7;
	font-weight:700;
	font-size:1.8em;
	font-family:"DejaVu Sans", "Microsoft Sans Serif", verdana, sans-serif;
	background:#fff;
	padding:3px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	border:none!important;
}

#img_header
{
	float:left;
	width:182px;
	height:50px;
	background:url('logo.png') no-repeat center center;
}

/* Slider jFlow */

#slider
{
	width:960px;
	height:300px;
	color:#FFF;
	position:relative;
	float:left;
	overflow:hidden;
}

.slides
{
	position:relative;
}

.slides_image1_1
{
	height:300px;
	width:332px;
	float:left;
	background:url('banner1.jpg') 0px 0px no-repeat;
}

.slides_image1_2
{
	height:300px;
	width:296px;
	float:left;
	background:url('banner1.jpg') -332px 0px no-repeat ;
}

.slides_image1_3
{
	height:300px;
	width:332px;
	float:left;
	background:url('banner1.jpg') -628px 0px no-repeat;
}

.slides_image2
{
	height:300px;
	width:960px;
	float:left;
	background:url(banner2.jpg) no-repeat center center;
}

.slides_image3
{
	height:300px;
	width:960px;
	float:left;
	background:url(banner3.jpg) no-repeat center center;
}

.slides_image4
{
	height:300px;
	width:960px;
	float:left;
	background:url(banner4.jpg) no-repeat center center;
}

.slides_image5
{
	height:300px;
	width:960px;
	float:left;
	background:url(banner5.jpg) no-repeat center center;
}

#controller
{
height:0px;
	width:960px;
	position:relative;
	top:-25px;
	left:0px;
	text-align:center;
	float:left;
}

.c_container
{
	margin:0 auto;
	width:140px;
}

.jFlowControl,.jFlowPrev,.jFlowNext
{
	background:#d6e26e;
	cursor:pointer;
	height:10px;
	width:10px;
	float:left;
	margin:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
}

.jFlowPrev,.jFlowNext
{
	background:#fff;
}

/* Menú Lavalamp */

#menu
{
	background:#a6ba00;
	border-top:4px solid #889800;
	height:50px;
	float:left;
	width:960px;
	font-weight:500;
	text-transform:uppercase;
	font-size:1.6em
;
}

#menu ul
{
	background:#a6ba00;
	margin-left:10px;
	padding:0 10px;
	position:relative;
	float:left;
	line-height:50px;
}

#menu ul li
{
	float:left;
	display:inline;
}

#menu ul li a
{
	color:#FFF;
	outline:none;
	text-align:center;
	display:block;
	overflow:hidden;
	float:left;
	z-index:10;
	padding:0 10px;
	position:relative;
	text-shadow:-1px 1px 1px #444;
}

#menu ul li a:hover
{
	text-decoration:none;
}

#menu ul li.back
{
	background:#889800;
	width:9px;
	height:28px;
	position:absolute;
	z-index:8;
	top:11px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
}

#menu ul li.selected
{
	background:url('menu_selected.gif') no-repeat center bottom;
	padding-bottom:13px;
	margin-bottom:-13px;
}

/* Contenido */

#content a
{
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#f0d9aa;
	border:none;
	border-radius:5px;
	color:#444;
	padding:1px 3px;
	text-decoration:none;
	vertical-align:middle;
}

#content a:hover
{
	background:#d3b084;
	text-decoration:none;
}

#content
{
	font-size:1em;
}
/*
#content dl dt
{
	margin:10px 0;
	margin-bottom:0;
	float:left;
	width:100%;
}

#content dl dd
{
	margin:0;
	float:left;
	width:100%;
}*/

#portal-column-content fieldset > * textarea.kupu-editor-textarea
{
	width:928px!important;
	font-size:1.5em;
}

input.searchButton,.searchSection
{
	display:none;
}

.documentDescription,.documentByLine,#link-presentation
{
	width:100%;
	float:left;
	margin:1px 0;
	display:block;
}

#user-name img
{
	display:none;
}

#parent-fieldname-title
{
	width:100%;
	float:left;
	margin:0 15px;
	margin-left:0;
	text-align:left;
	padding:1px 0;
	color:#000;
	font-weight:900;
	letter-spacing:-.5px;
	line-height:1em;
}

#parent-fieldname-text
{
	margin:30px 0;
	float:left;
	text-align:justify;
	font-size:1.6em;
	line-height:1.6em;
}

#parent-fieldname-text ul li
{
	list-style:url(li.gif) inside;
	padding:0 10px;
}

#region-content
{
	min-height:500px;
	width:930px;
	padding:0 15px;
	border:0px !important;
}

.collage-item
{
	margin:30px 0;
	float:left;
	text-align:justify;
	font-size:1.6em;
	line-height:1.6em;
}

.documentActions
{
	float:right;
}

#document-action-sendto,#document-action-print,#document-action-rss,#document-action-ics,#document-action-vcs
{
	background-color:#e2dac7;
	padding:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	float:left;
	margin:5px;
}

#document-action-sendto a,#document-action-print a,#document-action-rss a,#document-action-ics a,#document-action-vcs a
{
	color:#000;
	font-size:1.2em;
	font-weight:700;
	background:transparent!important;
}

#document-action-sendto a:hover,#document-action-print a:hover,#document-action-rss a:hover,#document-action-ics a:hover,#document-action-vcs a:hover
{
	color:#666;
	text-decoration:none;
	background:transparent!important;
}

.tileBody,.tileFooter
{
	float:left;
	width:100%;
}

/* Estilos de la página frontal 'canaima-gnu-linux' */

.info_index
{
	width:510px;
	float:left;
	margin:15px;
	margin-left:0;
	margin-bottom:0;
	padding-top:230px;
	font-size:1em;
	line-height:1.3em;
	text-indent:30px;
	text-align:justify;
	background:url('canaima_arte.png') no-repeat;
}

.barra_lateral
{
	position:relative;
	top:-60px;
	left:0;
	float:left;
	font-size:1.2em;
	line-height:1.2em;
	padding:0 15px;
	padding-right:0;
	width:390px;
}

.enciclopedia,.proyectos,.descargas,.acerca,.registro
{
	padding:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	margin:15px 0;
}

.descargas
{
	background:#abe19f url('descargas.png') 10px 5px no-repeat;
}

.enciclopedia
{
	background:#f5eedf url('enciclopedia.png') 10px 5px no-repeat;
}

.proyectos
{
	background:#f5eedf url('proyectos.png') 10px 5px no-repeat;
}

.acerca
{
	background:#f5eedf url('acerca.png') 10px 5px no-repeat;
}

.registro
{
	background:#f5eedf url('registro.png') 10px 5px no-repeat;
}

.enc_barra_verde,.enc_barra_verde_sub,.enc_barra_marron,.enc_barra_marron_sub,.enc_barra_texto
{
	padding-left:90px;
}

.enc_barra_verde a
{
	font-size:1.3em;
	color:#25691c!important;
	font-weight:900;
	line-height:1.2em;
	background-color:transparent!important;
	padding:0!important;
}

.enc_barra_verde a:hover
{
	color:#38a02a!important;
	text-decoration:none;
	background-color:transparent!important;
}

.enc_barra_verde_sub a
{
	font-size:.8em;
	color:#25691c!important;
	font-weight:900;
	line-height:1.8em;
	background-color:transparent!important;
	padding:0!important;
}

.enc_barra_verde_sub a:hover
{
	color:#38a02a!important;
	text-decoration:none;
}

.enc_barra_marron a
{
	font-size:1.3em;
	color:#756540!important;
	font-weight:900;
	line-height:1.2em;
	background-color:transparent!important;
	padding:0!important;
}

.enc_barra_marron a:hover
{
	color:#ab9b75!important;
	text-decoration:none;
}

.enc_barra_marron_sub a
{
	font-size:.7em;
	color:#756540!important;
	font-weight:900;
	line-height:1.8em;
	background-color:transparent!important;
	padding:0!important;
}

.enc_barra_marron_sub a:hover
{
	color:#ab9b75!important;
	text-decoration:none;
}

.enc_barra_texto
{
	font-size:.7em;
	line-height:1.2em;
	color:#555;
}

.chick_h1
{
	font-size:1em;
	font-weight:900;
	text-align:left;
	width:60%;
	line-height:1em;
	padding:5px;
	height:50px;
}

.chick_content
{
	font-size:.8em;
	line-height:1.4em;
	text-align:left;
	padding:10px;
	width:80%;
	height:120px;
	color:#666;
}

.chick_h1 a
{
	color:#444!important;
	background:transparent!important;
}

.chick_h1 a:hover
{
	color:#000!important;
	text-decoration:none;
}

.instituciones,.listas,.canaima_educativo
{
	padding:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	width:290px;
	margin:5px;
	float:left;
}

.instituciones
{
background:#fff url('instituciones.png') 180px 10px no-repeat;
}

.listas
{
background:#fff url('listas.png') 180px 10px no-repeat;
}

.canaima_educativo
{
background:#fff url('canaimaedu.png') 180px 10px no-repeat;
}

#contenido_inferior
{
	width:930px;
	padding:0;
	color:#55554e;
	font-size:1.2em;
	line-height:1.2em;
	float:left;
	position:relative;
	top:-20px;
	left:0px;
}

#portal-column-content
{
	float:left;
	margin:0;
	padding:0;
}

#portal-columns
{
	float:left;
	width:930px !important;
	background:#f6f6e8;
	line-height:1.5em;
	border:0;
	padding:25px 0;
	margin:0;
	text-align:left;
	min-height:500px;
}

table#portal-columns tr
{
width:960px !important
}

#portal-column-two
{
	display:none;
}

#portal-column-one
{
	width:960px;
	float:right;
}

#clear-space-before-wrapper-table,#clear-space-before-footer
{
	height:20px;
	background:#f6f6e8;
}

dl.collapsible,#parent-fieldname-text,.documentEditable
{
	margin:0;
	padding:0;
	border:0;
	outline:0;
}

.documentContent
{
	float:left;
	border:0px!important;
}

#portal-breadcrumbs
{
	float:left;
	margin:5px 0;
	margin-left:5px;
	text-align:left;
	padding:3px;
	background:#756540;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-khtml-border-radius:3px;
}

#portal-personaltools li
{
	float:left;
	margin:0 5px;
}

#portal-personaltools li a,#portal-siteactions li a,#portal-breadcrumbs a
{
	color:#000;
	font-weight:700;
}

#portal-siteactions li
{
	float:left;
	margin:5px 0;
	margin-left:5px;
	text-align:left;
	padding:3px;
	background:#756540;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-khtml-border-radius:3px;
}

#portal-siteactions
{
	float:right;
}

#portal-personaltools
{
	float:left;
	margin:5px 0;
	text-align:left;
	padding:3px;
	background:#756540;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-khtml-border-radius:3px;
}

h1.documentFirstHeading
{
	margin:5px 0;
	line-height:1.2em;
}

.managePortletsFallback
{
	display:none;
}

#history
{
	float:left;
	margin:10px;
	width:910px;
}

dl.portalMessage,.warning
{
	color:#000;
	font-size:1.2em;
	line-height:1em;
	float:left;
	padding:5px;
	background:#FA8072;
	text-align:center;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	vertical-align:middle;
	margin:10px 0;
	width:920px;
}

p.portalMessage
{
	color:#000;
	font-size:1.2em;
	line-height:1em;
	float:left;
	padding:5px;
	text-align:center;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	vertical-align:middle;
	margin:10px auto;
	border:none!important;
}

.warning a
{
	background:#faaea5;
	padding:1px 3px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	vertical-align:middle;
}

.warning a:hover
{
	text-decoration:none;
	background:#fff;
}

#livesearchLegend,div.LSDescr,span.discreet
{
	display:none;
}

p.discreet
{
	float:left;
}

a.discreet
{
	background:none!important;
}

.LSResult
{
	z-index:10000;
	height:0;
	position:relative;
	left:0;
	top:-18px;
}

.livesearchContainer
{
	text-align:left;
	font-size:12px;
	border:none!important;
	background:#fff;
	padding:5px 0px;
	-moz-border-radius-topleft:0px!important;
	-webkit-border-top-left-radius:0px!important;
	border-top-left-radius:0px!important;
	-khtml-border-top-left-radius:0px!important;
	-moz-border-radius-topright:0px!important;
	-webkit-border-top-right-radius:0px!important;
	border-top-right-radius:0px!important;
	-khtml-border-top-right-radius:0px!important;
	position:relative;
	left:0;
	top:0;
	width:300px !important;
}

.livesearchContainer img
{
	display:none;
}

.livesearchContainer ul
{
	list-style:none;
	margin:0;
	padding:0;
}

.livesearchContainer ul li
{
	margin:0;
	padding:0;
	line-height:15px;
}

.livesearchContainer ul li a strong
{
	color:#333;
}

.livesearchContainer ul li a span
{
	font-size:11px;
}

.livesearchContainer ul li a:link,.livesearchContainer ul li a:active,.livesearchContainer ul li a:visited
{
	display:block;
	padding:3px;
	color:#333;
	text-decoration:none;
}

.livesearchContainer ul li a:hover,.livesearchContainer ul li a:hover strong
{
	background:#d1b264;
	text-decoration:none;
}

.livesearchContainer ul li.quick_search_type
{
	padding:3px;
	font-weight:700;
}

a.state-closed,a.state-published,a.state-private,a.state-missing-value,a.state-unapproved,a.state-memberposting,a.state-hidden,a.state-final,a.state-release-candidate,a.state-pre-release
{
	background:transparent!important;
	margin:0!important;
	color:#000!important;
	font-size:16px!important;
	padding:5px 0;
}

.state-closed,.state-published,.state-private,.state-missing-value,.state-unapproved,.state-memberposting,.state-hidden,.state-final,.state-release-candidate,.state-pre-release
{
	font-size:16px!important;
}

a.state-published:hover,a.state-private:hover,a.state-missing-value:hover,a.state-unapproved:hover,a.state-memberposting:hover,a.state-hidden:hover,a.state-final:hover,a.state-release-candidate:hover,a.state-closed:hover,a.state-pre-release:hover
{
	color:#888!important;
}

a.state-published img,a.state-closed img,a.state-private img,a.state-missing-value img,a.state-unapproved img,a.state-memberposting img,.state-hidden img,.state-final img,.state-release-candidate img
{
	vertical-align:middle;
}

.state-unapproved,a.state-unapproved
{
	color:#fa8072!important;
}

.state-private,a.state-private
{
	color:red!important;
}

tr.odd
{
	background-color:#fff;
}

td
{
	padding:2px 0;
}

.collage-header a,.collage-header a.action,.collage-header a.layout,.collage-header a.create
{
	background:transparent!important;
	padding:3px!important;
	float:left;
}

.collage-header span
{
	margin:2px;
}

.copy-object-icon,.paste-object-icon,.split-object.icon,span.contenttype-event
{
	vertical-align:middle;
}

.standalone,.documentEditable * .standalone
{
	color:#000;
	font-size:1em;
	font-weight:700;
	line-height:1em;
	float:none;
	padding:5px !important;
	background:#FA8072;
	text-align:center;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	vertical-align:middle;
	margin:5px;
	margin-left:0px;
	border:none;
	text-transform:uppercase;
}

.destructive,.documentEditable * .destructive
{
	color:#000;
	font-size:1em;
	font-weight:700;
	line-height:1em;
	float:none;
	padding:5px !important;
	background:#ffce7b;
	text-align:center;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	vertical-align:middle;
	margin:5px;
	margin-left:0px;
	border:none;
	text-transform:uppercase;
}

.context,.formControls .actionButtons .button,.documentEditable * .context
{
	color:#000;
	font-weight:700;
	font-size:1em;
	line-height:1em;
	float:none;
	padding:5px !important;
	background:#e2dac7;
	text-align:center;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	vertical-align:middle;
	margin:5px;
	margin-left:0px;
	border:none;
	text-transform:uppercase;
}

.formControls
{
	float:left!important;
}

#archetypes-fieldname-title input
{
	padding:2px 0;
}

.kssattr-atfieldname-text
{
	width:930px;
}

.link-parent
{
	float:right;
	margin:10px 0px;
}

div.formHelp img,div.field img,ul.configlets li a img,span.contenttype-document img,span.contenttype-image img,span.contenttype-topic img, span.contenttype-file img,span.contenttype-plone-site img,span.contenttype-large-plone-folder img,span.contenttype-plonesoftwarecenter img,span.contenttype-news-item img,span.contenttype-document img,span.contenttype-pscrelease img,span.contenttype-link img,span.contenttype-pscproject img
{
	vertical-align:middle !important;
}

li.formTab a
{
	padding:5px!important;
	font-size:1.2em!important;
	background-color:#ddd!important;
	margin:5px!important;
}

li.formTab a:hover
{
	background-color:#eee!important;
}

ul.formTabs
{
	margin:15px 0!important;
	margin-bottom:0px!important;
	float:left;
	width:100%;
	background:#fff;
}

th.nosort
{
	padding:5px 0;
}

.field
{
	margin:20px 0!important;
}

.fieldRequired
{
	color:red;
}

.formPanel
{
	padding:0!important;
	float:left;
	width:930px;
}

body.kupu
{
	background-color:#fff;
	font-size:1.5em;
}

iframe.kupu-editor-iframe,.kupu-tb
{
	width:924px!important;
	border:none!important;
}

select.kupu-tb-styles
{
	font-size:.8em;
}

ul#contentActionMenus li a img
{
	display:none;
}

div.listingBar
{
	margin:20px 0;
	float:left;
	width:100%;
}

div.listingBar a
{
	color:#000;
	font-weight:700;
	font-size:1em;
	line-height:1em;
	padding:5px;
	background:#fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	vertical-align:middle;
	margin:5px;
}

.listingNext
{
	float:right;
	text-align:right;
}

.listingPrevious
{
	float:left;
	text-align:left;
}

dt.collapsibleHeader
{
	width:870px!important;
}

dd.portletItem ul.configlets li
{
	float:left;
}

ul.configletDetails li,ul.configlets li
{
padding:5px 0px !important;
margin:0px !important;
}

ul.configlets li a
{
	margin:5px;
	font-size:16px;
	color:#444;
}

ul.configlets li label
{
	width:800px!important;
	font-size:1.6em;
	font-weight:normal;
}

ul.configletDetails li
{
	width:800px!important;
}

ul.configletDetails li a
{
margin:5px 0px !important;
font-size:1em;
}

ul.configletDetails li span img,ul.configlets li label img,ul.configletDetails li label img,ul.configletDetails li a img, ul.configlets li input
{
	width:16px !important;
	height:16px!important;
	vertical-align:middle !important;
}

dd.portletItem
{
	float:left;
	margin:5px;
	margin-bottom:20px;
}

dl.portletThirdWidth
{
	width:930px!important;
}

table.listing
{
	width:930px;
}

dt.portletHeader,dt.portletFooter
{
	font-size:1.5em;
	color:#000;
	font-weight:700;
	line-height:1em;
	padding:5px;
	background:#fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	vertical-align:middle;
	margin:10px 5px;
}

dt.portletHeader a,dt.portletFooter a
{
	font-size:1.2em;
	color:#444;
	font-weight:500;
	background-color:transparent!important;
}

dt.portletHeader a:hover,dt.portletFooter a:hover
{
	color:#888;
	background-color:transparent!important;
}

div.eventDetails
{
	float:left;
	width:930px;
	font-size:1.2em;
	color:#000;
	line-height:1.2em;
	padding:5px;
	background:#fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	vertical-align:middle;
	margin:15px 5px;
}

div.eventDetails th
{
	width:20%;
}

div.eventDetails td
{
	width:75%;
}

.contentActions,.actionMenu,.actionMenuHeader a,.actionMenuHeader
{
border:0px !important;
}

.actionMenuSelected
{
font-size:10px;
}

.contentActions
{
padding:3px 0px !important;
margin-bottom:20px;
}

.contentActions a
{
	padding:0px 10px;
	font-size:12px;
	border:0px !important;
}

.contentViews,.actionMenu,.actionMenuContent ul,.actionMenuContent
{
	border:0px !important;
}

.contentViews
{
	padding-top:20px;
}

.contentViews li a
{
	font-size:12px;
	border:0px;
	padding:2px 10px;
}

/* Estilos del pie de página */

#portal-footer
{
	font-size:1.4em;
	color:#d6e26e;
	padding:0 20px;
	padding-bottom:40px;
	clear:both;
	line-height:20px;
	float:left;
	width:920px;
	border-top:4px solid #889800;
	background:#a6ba00;
	margin-bottom:30px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	-khtml-border-bottom-left-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	-khtml-border-bottom-right-radius:5px;
}

#portal-footer a
{
	font-weight:900;
	color:#889800;
}

#portal-footer a:hover
{
	font-weight:900;
	color:#525c00;
}

#pie_resaltado
{
	background:#d6e26e;
	text-align:center;
	color:#A6BA00;
	padding:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-khtml-border-radius:5px;
	margin:20px 0px;
}


#visual-portal-wrapper
{
	margin:0 auto;
	width:960px !important;
}



div.error
{
	width:930px!important;
}
